* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Sans';
    src: url('fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
}



body {
    
    padding: 0;
    font-family: 'Sans', sans-serif;
    background-color: #ffffff;
}
/* 
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    text-align: left;
    
} */

.logo_container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 10px 10px 10px;
}

.logo {
    height: 100px;
    margin-right: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.title {
    font-size: 4em;
    color: #c6b6bc;
    text-align: left;
    margin-right: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292929;
    padding: 20px;
    
    margin: 10px 10px 10px 10px;
    gap: 30px;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    flex-grow: 1;
}

.navbar__item{
    height: 30px;
}

.navbar__links{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 3rem;
    font-weight: bold;
}
.navbar a {
    text-decoration: none;
    font-size: 1.8rem;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: #774f86;
}

.insta__link {
    margin-left: auto; 
    display: flex;
    align-items: center;
    margin-right: 20px;

}

.insta_logo {
    height: 40px;
    width: 50PX;
}