/* @font-face {
    font-family: 'Sans';
    src: url('fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
} */

@font-face {
    font-family: 'Sans';
    src: url('fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
}


.Project {
    background-color: #f5f5f5; 
    color: #292929; 
    padding: 20px;

    margin: 20px 10px 10px 10px;
    height: auto; 

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    justify-content: center;
    flex-wrap: wrap;
    
}


.Project h1{

    margin-top: 50px;
    font-family: 'Sans', sans-serif;
    font-size: 4em;

}

/* .Project h1::before{
    content: 'Hello';
} */

.Project p{

    max-width: 500px;

    font-family: 'Sans', sans-serif;
    font-size: 1.2em;
    margin-top: 34px;

    margin-bottom: 50px;

    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
}

.dashed_line {

    border: 0;
    height: 2px;
    
    margin: 20px 0;
    margin-left: 10px;
    margin-right: 10px;

    background: repeating-linear-gradient(
        to right,
        #292929,
        #292929 10px, /* Length of the dash */
        transparent 10px,
        transparent 20px /* Length of the gap */
    );   

}

/* .project_desc:hover{

    background-color: #c6b6bc;
} */

/* .p_dec h1{
    font-family: 'Sans', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
}

.p_dec h2{
    font-family: 'Sans', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
}

.p_dec p{
    font-family: 'Sans', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
} */



