@font-face {
    font-family: 'Sans';
    src: url('fonts/42dotSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
}

.Project {
    background-color: #f5f5f5; 
    color: #292929; 

    margin-top: 20px; 
    height: 40vh; 

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    justify-content: center;
    flex-wrap: wrap;
    
}

.Project h1{
    font-family: 'Sans', sans-serif;
    font-size: 2.5em;

}

.p_dec h1{
    font-family: 'Sans', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
}

.p_dec h2{
    font-family: 'Sans', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
}

.p_dec p{
    font-family: 'Sans', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
}

.Project img{
    width: 200px;
    height: auto;
    margin-left: 50px;

}

