@font-face {
    font-family: 'Sans';
    src: url('fonts/42dotSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
}

.Sprints{
    padding: 20px; 
    border-radius: 10px; 
    display: inline-block;
    margin: 20px 0 0 20px;
}
.Sprints h1 {
    color: #292929; 
    text-align: left; 
    font-family: 'Sans', sans-serif;
    font-size: 2.5em;
    margin-top: 20px;
}

.sprint_2 {
    background-color: #ab6b84; 
    padding: 20px; 
    text-align: left; 
    border-radius: 4px; 
    color: #292929; 
    display: inline-block;
    margin: 10px 0 0 0px;
}
.sprint_2 h2{
    color: #292929; 
    text-align: left; 
    font-family: 'Sans', sans-serif;
}

.sprint_2 p{
    font-family: 'Sans', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
}

.img_s_2{
    height: auto;
    width: 500PX;
    margin-left:auto;
    
}

.sprint_3 {
    background-color: #b48a9a; 
    padding: 20px; 
    text-align: right; 
    border-radius: 4px; 
    color: #292929; 
    display: inline-block;
    margin: 10px 0 0 0px;
    justify-content: right;
}
.sprint_3 h2{
    color: #292929; 
    text-align: right; 
    font-family: 'Sans', sans-serif;
}

.sprint_3 p{
    font-family: 'Sans', sans-serif;
    font-size: 1.2em;
    margin-top: 10px;
    text-align: right; 
}